@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FantasyFootball.Models.Player>
@Html.ActionLink("Your team", "Index", "Team", new { id = ViewBag.TeamId })

<h3>Available players</h3>
@foreach(var player in Model)
{
    @if (player.FreeAgent == true)
    {
        <h3>@player.PlayerName</h3>
        <h5>@player.Position</h5>
        <p>@player.NFLTeam</p>
        <button class="@player.PlayerId" type="submit">Claim player</button>
        <div id="@player.PlayerId"></div>
        @if (player.Position == "QB" || player.Position == "RB" || player.Position == "WR" || player.Position == "TE")
        {
            
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>Passing yards</th>
                    <th>Passing TD's</th>
                    <th>INT</th>
                    <th>Receptions</th>
                    <th>Recieving yards</th>
                    <th>Rec TD's</th>
                    <th>Rushing yards</th>
                    <th>Rushing TD's</th>
                    <th>2pt conv</th>
                    <th>Fumbles</th>
                </tr>
                <tr>
                    <td>@player.PassingYards</td>
                    <td>@player.PassingTD</td>
                    <td>@player.IntThrown</td>
                    <td>@player.Receptions</td>
                    <td>@player.RecievingYards</td>
                    <td>@player.RecievingTD</td>
                    <td>@player.RushingYards</td>
                    <td>@player.RushingTD</td>
                    <td>@player.TwoPtConv</td>
                    <td>@player.Fumbles</td>
                </tr>

            </table>
        }
        else if (player.Position == "K")
        {
           
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>PAT</th>
                    <th>FG (1-30 yards)</th>
                    <th>FG (31-49 yards)</th>
                    <th>FG (50+ yards)</th>
                </tr>
                <tr>
                    <td>@player.PointAfter</td>
                    <td>@player.FgShort</td>
                    <td>@player.FgMedium</td>
                    <td>@player.FgLong</td>
                </tr>

            </table>
        }
        else
        {
            
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <th>Points against</th>
                    <th>INT's</th>
                    <th>Sacks</th>
                    <th>Forced fumbles</th>
                    <th>Fumbles recovered</th>
                    <th>Blocked Kicks</th>
                    <th>Safety</th>
                    <th>TD's</th>

                </tr>
                <tr>
                    <td>@player.PointsAllowed</td>
                    <td>@player.Interception</td>
                    <td>@player.Sack</td>
                    <td>@player.ForcedFumble</td>
                    <td>@player.FumbleRecovery</td>
                    <td>@player.BlockedKick</td>
                    <td>@player.Safety</td>
                    <td>@player.DefTD</td>
                </tr>

            </table>

        }
        <hr />

    }
<script>
    $('.@player.PlayerId').click(function () {
        console.log("test");
    $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("AddPlayer")',
        data: {id : @player.PlayerId, tId: @ViewBag.TeamId},
        success: function (result) {
            console.log(@ViewBag.TeamId);
            console.log(@player.PlayerId);
            $('#@player.PlayerId').html(result);
        }
    });
});
</script>

}